@charset "UTF-8";

body {
    font-family: Minecraftia;
    color: #FFFFFF;
    background-color: #000000;
}

.box {
    background-color: #1c264f;
    border: 2px;
    border-style: solid;
    border-color: #76cbff;
}

.button{
    color: #1c264f;
    background-color: #008ef1;
    border: 2px;
    border-style: solid;
    border-color: #76cbff;
    font-size: 12px;
    margin: 5px;
    text-align: center;
}

.button:hover {
    color: #1c264f;
    background-color: #FFFFFF;
    cursor: pointer;
}

li {
    list-style: none;
}

#loginContainer {
    width: 600px;
    height: 480px;
    padding: 10px;
    margin: auto;
    position: relative;
}

.loginContainer2 {
    width: 400px;
    height: 300px;
    margin: auto;
}

.loginContainer2 h1 {
    text-align: center;
}

#loginForm {
    position: relative;
    top: 100px;
}

#regForm {
    display: none;
    position: relative;
    top: 50px;
}

form {
    text-align: center;
    margin: 0 auto;
}

.input {
    font-family: Minecraftia;
    color: #FFFFFF;
    border: 2px;
    border-style: solid;
    color: #FFFFFF;
    border-color: #76cbff;
    background-color: #000000;
}

#submitLogin {
    font-family: Minecraftia;
    width: 100px;
    height: 30px;
}

#submitReg {
    font-family: Minecraftia;
    width: 100px;
    height: 30px;
}

#registerButton {
    width: 96px;
    height: 24px;
    margin: auto;
    padding-top: 3px;
    position: relative;
    top: 10px;
}

#loginButton {
    width: 96px;
    height: 24px;
    margin: auto;
    padding-top: 3px;
    position: relative;
    top: 10px;
}

#container {
    padding: 10px;
    margin: auto;
    width: 800px;
    height: 670px;
}

#game {
    width: 700px;
    margin: auto;
    position: relative;
    height: 480px;
}

#content {
    width: 700px;
    height: 480px;
    margin: auto;
    background-color: #000000;
    position: relative;
}

#mainMenu {
    width: 700px;
    height: 480px;
    float: left;
    background-color: #000000;
}

#title {
    font-size: 60px;
    text-align: center;
}

#mainOptions {
    width: 200px;
    position: relative;
    left: 200px;
    text-align: center;
}

#menu {
    display: none;
}

.menuBanner {
    font-size: 22px;
}

#levelSelect {
    width: 350px;
    height: 440px;
    float: left;
}

#levelList {
    position: relative;
    left: 50px;
    top: 5px;
}

#start {
    margin: 0px auto;
    position: relative;
    top: 20px;
}

#back {
    width: 100px;
    margin: 0px auto;
    position: relative;
    top: 45px;
}

#menu p {
    text-align: center;
}

#highscores {
    width: 350px;
    height: 450px;
    float: right;
}

#tableContainer {
    height: 240px;
    overflow: scroll;
}

#showAll {
    width: 120px;
    position: relative;
    top: 20px;
    margin: auto;
}

#scoreTable {
    font-size: 12px;
    margin: 0px auto;
}

.col1 {
    text-align: center;
    width: 60px;
}

.col2 {
    width: 160px;
}

.col3 {
    width: 100px;
}

#levelList ul{
    margin: 0px auto;
}

#levelList li {
    list-style: none;
    width: 150px;
    margin: 5px;
    border: 2px;
    border-style: solid;
    border-color: #76cbff;
}

#start {
    width: 100px;
}

#jsapp {
    position: relative;
}

#framecounter {
    position: absolute;
    top: 0px;
}

#pauseMenu {
    width: 300px;
    height: 200px;
    position: absolute;
    top: 130px;
    left: 215px;
    display: none;
}

#pauseMenu p {
    text-align: center;
    display: none;
}

#options1{
    width: 130px;
    position: relative;
    left: 45px;
}

#options1 li {
    margin: 5px;
    display: none;
}

#levelCompleteMenu {
    display: none;
    width: 400px;
    position: absolute;
    top: 40px;
    left: 150px;
}

#levelCompleteMenu p {
    text-align: center;
}

#scoreSubmit {
    display: none;
}

#submitScore {
    width: 120px;
    margin: auto;
}

#results {
    margin: auto;
}

#databaseMessage {
    display: none;
}

#options2 {
    width: 130px;
    position: relative;
    left: 95px;
}

#options2 li {
    margin: 5px;
}

.LCcol1 {
    width: 120px;
    text-align: right;
}

.LCcol2 {
    width: 120px;
    text-align: center;
}

.LCcol3 {
    text-align: center;
    width: 120px;
}

#tutorialBox {
    display: none;
    opacity: 0.7;
    width: 200px;
    height: 100px;
    padding: 10px;
    position: absolute;
    top: 40px;
    left: 10px;
    font-size: 11px;
}

#tutorialBox p {
}

@font-face {
    font-family: Vermin_Vibes;
    src: url('vermin_vibes_1989.ttf');
}

@font-face {
    font-family: Press_Start;
    src: url('prstartk.ttf');
}

@font-face {
    font-family: Joystix;
    src: url('joystix monospace.ttf');
}

@font-face {
    font-family: Minecraftia;
    src: url('Minecraftia.ttf');
}





