@charset "UTF-8";

body {
    font-family: Minecraftia;
    color: #FFFFFF;
    background-color: #000000;
}

.box {
    background-color: #1c264f;
    border: 2px;
    border-style: solid;
    border-color: #76cbff;
}

.button{
    color: #1c264f;
    background-color: #008ef1;
    border: 2px;
    border-style: solid;
    border-color: #76cbff;
    font-size: 12px;
}

.button:hover {
    color: #1c264f;
    background-color: #FFFFFF;
    cursor: pointer;
}

#container {
    width: 800px;
    padding: 10px;
    margin: 0px auto;
    height: 670px;
}

h1 {
    width: 800px;
    padding: 10px;
    color: #FFFFFF;
}

#game {
    width: 700px;
    margin: auto;
    position: relative;
    height: 480px;
}

#levelMenu {
    width: 700px;
    height: 480px;
    margin: auto;
    background-color: #000000;
}

#levelSelect {
    width: 320px;
    height: 440px;
    float: left;
    margin: 10px;
}

#highscores {
    width: 320px;
    float: right;
    margin: 10px;
}
#levelList ul{
    margin: 0px auto;
}

#levelList li {
    list-style: none;
    width: 150px;
    margin: 5px;
    border: 2px;
    border-style: solid;
    border-color: #76cbff;
}

#start {
    width: 100px;
}

#jsapp {
    position: relative;
}

#framecounter {
    position: absolute;
    top: 0px;
}

@font-face {
    font-family: Vermin_Vibes;
    src: url('vermin_vibes_1989.ttf');
}

@font-face {
    font-family: Press_Start;
    src: url('prstartk.ttf');
}

@font-face {
    font-family: Joystix;
    src: url('joystix monospace.ttf');
}

@font-face {
    font-family: Minecraftia;
    src: url('Minecraftia.ttf');
}





