@charset "UTF-8";

body {
    font-family: Minecraftia;
    background-color: #000000;
}

#container {
    background-color: #1c264f;
    width: 800px;
    padding: 10px;
    margin: 0px auto;
    border: 2px;
    border-style: solid;
    border-color: #76cbff;
    height: 670px;
}

h1 {
    width: 800px;
    padding: 10px;
    color: #FFFFFF;
}

#navBar ul {
    margin: 0;
    border: 2px;

}

#navBar li{
    float: left;
    list-style: none;
}

#navBar a{
    padding:10px;
    display:block;
    width:100px;
    background-color: #1c264f;
    margin: 0px 10px;
    text-align: center;
    border: 2px;
    border-style: solid;
    border-color: #76cbff;
}

#game {
    width: 700px;
    margin: auto;
    position: relative;
    top: 60px;
    height: 480px;
    border: 2px;
    border-style: solid;
    border-color: #76cbff;
}

#jsapp {
    position: relative;
    bottom: 46px;
}

#framecounter {
    position: absolute;
    top: 50px;
}

@font-face {
    font-family: Vermin_Vibes;
    src: url('vermin_vibes_1989.ttf');
}

@font-face {
    font-family: Press_Start;
    src: url('prstartk.ttf');
}

@font-face {
    font-family: Joystix;
    src: url('joystix monospace.ttf');
}

@font-face {
    font-family: Minecraftia;
    src: url('Minecraftia.ttf');
}





